<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Libri</title>
    </head>

    <body>
        <h1>Libri</h1>

        <p><a href="/">Home</a></p>

        <form action="/nuovo-libro" method="POST">
            <input type="text" name="titolo" placeholder="Titolo">
            <input type="submit" value="Inserisci Nuovo Libro">
        </form>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titolo</th>
                    <th>Autori</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% libri.forEach(function (libro) { %>
                <tr>
                    <td><%= libro.id %></td>
                    <td><%= libro.titolo %></td>
                    <td><%= libro.autori %></td>
                    <td><a href="/libro/<%= libro.id %>/edit">Edit</a></td>
                    <td><form action="/delete-libro" method="POST"><input type="hidden" name="id" value="<%= libro.id %>"><input type="submit" value="&times;"></form></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </body>
</html>
